# locally built binaries
kconnect
out/

# Test binary
*.test

# Output of the go coverage tool
coverage.out

# GoReleaser dist folder
dist/

# Bin
bin/

# Tools
hack/tools/bin
hack/tools/share

# direnv files:
.envrc

# vim swp files
*.swp

.vscode/
.idea/

.DS_Store

client_credentials.json

