name: goreleaser

on:
    push:
        tags:
            - "*"

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        env:
          DOCKER_CLI_EXPERIMENTAL: "enabled"
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
                  submodules: true
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2
            - name: Set up Go
              uses: actions/setup-go@v3
              with:
                  go-version: '1.22'
            - name: Login to DockerHub
              uses: docker/login-action@v2
              with:
                password: ${{secrets.DKR_TOKEN}}
                username: ${{secrets.DKR_USER}}
            # - name: Setup snapcraft
            #   run: |
            #     sudo snap install snapcraft --classic
            #     echo "$SNAP_TOKEN" | snapcraft login --with -
            #   env:
            #     SNAP_TOKEN: ${{secrets.SNAP_LOGIN}}
            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v5
              with:
                  version: latest
                  args: release --clean
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_PAT }}
