name: titlecheck

# Run on PR
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  titlecheck:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
    - name: Check conventinal title
      uses: aslafy-z/conventional-pr-title-action@master
      with:
        success-state: Title follows the specification.
        failure-state: Title does not follow the specification.
        context-name: conventional-pr-title
        preset: conventional-changelog-angular@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
